@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

body {
  display: grid;
  background-color: var(--gray-9);
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  margin-inline: 2em;
}

.app {
  margin-block: 2em;
}

.app__title {
  color: var(--gray-0);
  font-size: var(--font-size-4);
  margin-bottom: var(--size-3);
}

.app__body {
  display: grid;
  gap: 2em;
  background-color: var(--gray-8);
  border-radius: var(--radius-2);
  /* max-width: 550px; */
  padding: calc((24 / 16) * 1em);
}

.app__controls {
  display: grid;
  gap: 0.5em;
}

.colorInput {
  display: grid;
  place-content: center;
  background-color: var(--gray-5);
  border-radius: var(--radius-2);
  padding: 4px 5px;
  transition: 0.3s ease-in-out;
}

.colorInput:hover {
  background-color: var(--gray-0);
}

input[type='color'] {
  background-color: transparent;
  max-width: 61px;
  height: 43px;
  /* border: 5px solid #e5e5e5; */
  padding: 0;
}

select {
  background-color: var(--gray-6);
  color: var(--gray-1);
  text-align: center;
  border: var(--border-size-1) solid var(--gray-5);
  border-radius: var(--radius-2);
  transition: 0.3s ease-in-out;
  padding: 0.5em 1em;
}

select:hover {
  border: var(--border-size-1) solid var(--gray-1);
}

button {
  background-color: var(--gray-7);
  color: var(--gray-3);
  border-radius: 4px;
  padding: 1em 1.5em;
  transition: 0.3s ease-in-out;
}

button:hover {
  /* background-color: var(--gray-8); */
  color: var(--gray-0);
  box-shadow: inset 0 0 0 1px var(--gray-1);
}

.colors {
  display: grid;
  grid-template: auto / 1fr;
}

.color-panels {
  display: grid;
  grid-template: repeat(5, 50px) / 1fr;
}

.colorPanel {
  display: grid;
  place-items: center;
  color: var(--gray-0);
  text-shadow: 0 0 3px var(--gray-9);
}

/* .color-labels {
  display: grid;
  grid-template: repeat(5, 50px) / 1fr;
}

.colorLabel {
  display: grid;
  place-items: center;
  text-align: center;

  color: white;
} */
